@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@mixin spin($speed: 1s) {
  // transform-origin: center;
  animation-name: spin;
  animation-duration: $speed;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
}