<!--  <frame-panel
    scroll-message="Related Project Features"
    :show-plug="false"
    v-if="slides.length"
    class="justify-center"
  >
    <template v-slot:article>
      <section class="slides">
        <article>
          <figure :style="`background-image: url(${slides[selectedSlideIndex].image})`"></figure>
          <div>
            <header>
              <h3 class="h2">What I did</h3>
              <p v-html="slides[selectedSlideIndex].text"></p>
            </header>
            <router-link :to="{
              name: 'project-feature-show',
              params: {
                slug: project.slug,
                featureSlug: slides[selectedSlideIndex].slug,
                contentTypeId: slides[selectedSlideIndex].contentTypeId
              }
              }">
              <web-link />
              <h4>See details here..</h4>
            </router-link>
          </div>
        </article>
        <footer>
          <button v-for="(slide, index) in slides"
          :style="`background-image: url(${slide.image})`"
          :key="index"
          @click="selectedSlideIndex = index"
          >
          </button>
        </footer>
      </section>
    </template>
  </frame-panel> -->

  // mounted () {
    //   const slideNames = ['first', 'second', 'third', 'fourth', 'fifth']
    //   slideNames.forEach(item => {
    //     const slide = this.project[item + 'SlideRef']
    //     if (slide && slide.introImage && slide.introImage.url && slide.introText && slide.slug) {
    //       this.slides.push({
    //         contentTypeId: slide.sys.id,
    //         text: slide.introText,
    //         image: slide.introImage.url,
    //         slug: slide.slug
    //       })
    //     }
    //   })
    // }