@use '../../preset/breakpoints.scss' as *;
@use '../../config/variables.scss' as *;

form.contact {
  margin-top: 2rem;
  .label-placeholder {
    margin-bottom: .75rem;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  .-message {
    display: flex;
    flex-direction: column;
    margin-top: .5rem;
    padding-left: 2rem;
    textarea {
      flex : 1 1 0;
    }
  }
  @include media-breakpoint-down(sm, $breakpoints) {
    .-message {
      margin-top: 1.75rem;
      padding-left: 0;
      label {
        font-size: 16px;
      }
      textarea {
        min-height: 100px;
      }
    }
  }
}