@use '../../preset/base.scss' as *;
@use '../../preset/admin-features/helpers.scss' as *;
@use '../../preset/breakpoints.scss' as *;

@use '../../config/palette.scss' as *;
@use '../../config/variables.scss' as *;
@use '../../config/mixins.scss' as *;

.feature-light-show-trigger {
  @include reset-btn();
  figure {
    color: $secondary;
    display: flex;
    justify-content: flex-end;
    position: relative;
    transition: color .5;
    &:hover {
      color: mix(#000, $secondary, 15%);
      span {
        background-color: rgba(#fff, .75);
        padding: 1.65rem;
      }
    }
    span {
      border-radius: 50%;
      background-color: rgba(#fff, .25);
      height: 100px;
      position: absolute;
      left: calc(50% - 50px);
      padding: 2rem;
      top: calc(50% - 50px);
      transition: all .3s;
      width: 100px;
      z-index: 0;
      @include media-breakpoint-down(md, $breakpoints){
        height: 60px;
        left: calc(50% - 30px);
        padding: 1rem;
        top: calc(50% - 30px);
        width: 60px;
      }
    }
  }
}