@use '../../preset/' as *;
@use '../../config/palette.scss' as *;
@use '../../config/variables.scss' as *;
@use '../../config/mixins.scss' as *;

.feature-light-show-trigger {
  @include reset-btn();
  figure {
    color: $secondary;
    display: flex;
    justify-content: flex-end;
    // padding-right: 1rem;
    position: relative;
    transition: color .5;
    &:hover {
      color: mix(#000, $secondary, 15%);
      span {
        background-color: rgba(#fff, .75);
        padding: 1.65rem;
      }
    }
    span {
      position: absolute;
      top: calc(50% - 50px);
      left: calc(50% - 50px);
      z-index: 2;
      width: 100px;
      padding: 2rem;
      //border: 1px solid red;
      border-radius: 50%;
      background-color: rgba(#fff, .25);
      transition: all .3s;
    }
  }
}