@use '../../preset/' as *;
@use '../../config/mixins.scss' as *;
.project-features {
  > h3 {
    line-height: 1;
    margin: 0;
  }
  > article {
    @include space-between-center;
    > a {
      height: 30vh;
      width: 45%;
      display: block;
      figure {
        @include bg-cover-center;
        height: 100%;
        margin: 0;
        opacity: 1;
        transition: opacity 1s;
        width: 100%;
      }
      &:hover {
        figure {
          opacity: .75;
        }
      }
    }
    > div {
      display: inline-flex;
      flex-direction: column;
      width: 50%;
      a {
        display: flex;
        align-items: end;
        margin-top: 1rem;
        text-decoration: none;
        h4 {
          // margin-left: 1.5rem;
          margin-bottom: 0;
          line-height: 1;
        }
      }
    }
    &.reversed {
      flex-direction: row-reverse;
      margin-bottom: 40px;
      > div {
        // justify-content: flex-end;
        align-items: flex-end;
      }
      * {
        text-align: right;
      }
      p {
        padding-left: 15%;
      }
      > a {
        justify-content: flex-end;
        margin-left: 2rem;
      
      }
    }
    &:not(.reversed) {
      margin: 30px 0;
      > div {
        align-items: flex-start;
      }
      > div p {
        padding-right: 15%;
      }
      > a {
        margin-right: 2rem;
       
      }
    }
  }
}