@use '../../preset/admin-features/mixins/forms.scss' as *;
@use '../../preset/base.scss' as *;

@use '../../config/variables.scss' as *;

#{$inputs}{
  @include input-common($input-border, $input-radius, $input-padding, $placeholder-color);
  border-top: none;
  border-right: none;
  border-left: none;
}
textarea {
  border: $input-border;
  padding: .75rem 1rem;
}

form,
.form {
  @include forms($form-error-color);
 
}