@use '../../preset/layouts.scss' as *;
@use '../../preset/breakpoints.scss' as *;

@use '../../config/variables.scss' as *;

body {
  > #app {
    > section {
      position: relative;
      > aside {
        align-items: center;
        display: flex;
        top: 50vh;
        justify-content: center;
        position: absolute;
        right: 0;
        right: -50px;
        transform: rotate(-90deg);
        z-index: 0;
        pointer-events: none;
        div {
          @include space-between-center;
          font-size: 12px;
          span {
            margin: 0 1.5rem ;
          }
          span, img {
            display: block;
          }
        }
        @include media-breakpoint-only(lg, $breakpoints) {
          right: -100px
        }
        @include media-breakpoint-down(md, $breakpoints) {
          display: none;
        }
      }
    }
  }
}