@use '../../preset/' as *;
@use '../../config/mixins.scss' as *;

body {
  > #app {
    > section {
      padding: 14vh 0 10vh;
      height: 100vh;
      background-size: cover;
      background-position: center;
      scroll-snap-align: start;
      .label-placeholder {
        @include responsive-input();
      }
      > div {
        @include center-frame;
        position: relative;
        > p.intro,
        > .plug{
          flex: 1 1 0;
          margin: 0;
        }
        article {
          .button {
            margin-top: 1rem;
            text-align: center;
          }
        }
        > .plug {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 2.5vh;
        }
        > footer {
          position: absolute;
          right: 0;
          bottom: -50px;
        }
      }
    }
  }
}