@use '../../preset/' as *;
@use '../../config/mixins.scss' as *;

body {
  > #app {
    > section {
      padding: 14vh 0 10vh;
      height: 100vh;
      scroll-snap-align: start;
      position: relative;
      > span {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
        opacity: .65;
        position: absolute;
        left: 0;
        top: 0;
        &.bg-tint {
          @include bg-tint();
          opacity: .35;
        }
      }
      .label-placeholder {
        @include responsive-input();
      }
      > div {
        @include center-frame;
        position: relative;
        > p.intro,
        > .plug{
          margin: 0;
        }
        > .plug {
          flex: 1 1 0;
        }
        article {
          .button {
            margin-top: 1rem;
            text-align: center;
          }
        }
        > .plug {
          display: flex;
          flex-direction: column;
          justify-content: center;
          margin-top: 2.5vh;
        }
        > footer {
          position: absolute;
          right: 0;
          bottom: -50px;
          z-index: 0;
        }
      }
      @include media-breakpoint-down(sm) {
        padding: 12vh 1.25rem 0;
      }

    
    }
  }
}