@use '../../preset/' as *;
@use '../../config/typography.scss' as *;
@use '../../config/variables.scss' as *;

body {
  > #app {
    > header {
      @include center-frame;
      max-width: $header-max-width;
      left: 0;
      position: fixed;
      top: 0;
      right: 0;
      height: 10vh;
      flex-direction: column;
      display: flex;
      justify-content: center;
      z-index: 1;
      > nav {
        @include space-between-center;
        > a {
          @include align-center;
          flex-direction: column;
        }
        > ul > li {
          display: flex;
          button {
            @include heading-font-regular;
            font-size: 18px;
          }
        }
      }      
    }
  }
}