@use '../../preset/' as *;
@use '../../config/typography.scss' as *;

body {
  > #app {
    > header {
      left: 0;
      position: fixed;
      top: 0;
      right: 0;
      height: 10%;
      flex-direction: column;
      display: flex;
      justify-content: center;
      > nav {
        @include space-between-center;
        > ul > li {
          display: flex;
          button {
            @include heading-font-regular;
            font-size: 18px;
          }
        }
      }      
    }
  }
}