@use '../../preset' as *;
@use '../../config/mixins.scss'as *;
@use '../../config/palette.scss'as *;
@use '../../config/variables.scss'as *;

.light-box-wrapper {
  // Mixin ??
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: rgba(0,0,0,.5);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  .light-box {
    @include box-shadows;
    // @include space-between;
    // background: white;
    // flex-direction: column;
    // overflow: visible;
    // padding: 1.5rem;
    position: relative;
    // width: 100%;
    
    //ToDo: Add this to a mixin 
    > button.close {
      @include reset-btn;
      @include box-shadows;
      align-items: center;
      background-color: map-get($palette, 'whitest');
      border-radius: 50%;
      color: map-get($palette, 'd-gray');
      position: absolute;
      top: 0;
      left: -35px;
      height: 25px;
      width: 25px;
      display: flex;
      border: none;
      z-index: 11;
      margin: 0;
      flex-direction: column;
      padding: 0;
      justify-content: center;
      transition: background-color .3s, color .3s;
      &:hover {
        background-color: map-get($palette, 'tertiary');
        color: map-get($palette, 'l-gray');
      }
    }
    figure {
      img {
        background-color: #fff;
        min-width: 50%;
        min-width: 40vw;
        min-height: 40vw;
        max-width: 95vw;
        max-height: 95vh;
        padding: 2rem;

      }
    }
    footer {
      background-color: transparent;
      border: 1px solid black; 
    }
  }
  nav {
    @include space-between-center;
    padding: 0 2rem;
    position: absolute;
    top: 50%;
    width: 100%;
    left: 0;
  }
 
  
}