@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat/montserrat-Light.woff2') format('woff2'),
      url('/fonts/montserrat/montserrat-Light.woff') format('woff'),
      url('/fonts/montserrat/montserrat-Light.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
   src: url('/fonts/montserrat/montserrat-Italic.woff2') format('woff2'),
      url('/fonts/montserrat/montserrat-Italic.woff') format('woff'),
      url('/fonts/montserrat/montserrat-Italic.ttf') format('truetype');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat/montserrat-Regular.woff2') format('woff2'),
      url('/fonts/montserrat/montserrat-Regular.woff') format('woff'),
      url('/fonts/montserrat/montserrat-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat/montserrat-Medium.woff2') format('woff2'),
      url('/fonts/montserrat/montserrat-Medium.woff') format('woff'),
      url('/fonts/montserrat/montserrat-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat/montserrat-SemiBold.woff2') format('woff2'),
      url('/fonts/montserrat/montserrat-SemiBold.woff') format('woff'),
      url('/fonts/montserrat/montserrat-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'montserrat';
  src: url('/fonts/montserrat/montserrat-Bold.woff2') format('woff2'),
      url('/fonts/montserrat/montserrat-Bold.woff') format('woff'),
      url('/fonts/montserrat/montserrat-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}