@use './palette.scss' as *;
@use './mixins.scss' as *;

$header-max-width: 1114px;
$body-max-width: 1024px;
$content-max-width: 750px;

$radius: 3px;

$white: map-get($palette, 'whitest');
$light-gray: map-get($palette, 'l-gray');
$dark-gray: map-get($palette, 'd-gray');
$success-color: map-get($palette, "success");
$error-color: map-get($palette, 'danger');

$button-border-radius: $radius;
$button-padding: .75rem 1.5rem;
$clickable-f-size: 18px;

//card settimgs
// $card-border-radius: 8px;
// $card-bg: $white;
// $card-header-color: $med-gray;
// $card-header-f-size: 14px;

//standard input settings
$input-border: 1px solid $white;
$input-radius: 0;
$input-padding: .75rem 0 0;
$placeholder-color: map-get($palette, 'med-gray');
$form-error-color: $error-color;
$disabled-color: #A1ACBA;

//checkbox radio button settings
// $check-btn-bg-unchecked: $med-gray;
// $check-btn-bg-checked: $success-color;
// $check-btn-color: $white;

//checkbox radio input settings
// $check-radio-border: 1px solid map-get($palette, "dark-gray");
// $check-radio-icon: "\2713";
// $check-radio-checked-color: $success-color;
// $check-radio-checked-bg-color: $white;
 
//checkbox radio toggle settings
// $toggles-label-color: map-get($palette, "dark-gray");
// $toggles-unchecked-color: $med-gray;
// $toggles-hover-color: $light-blue;
// $toggles-checked-color: $blue;

//table settings
// $table-bg: $white;
// $table-border: #C4C4C4;
// $table-collapse-breakpoint: 'lg';
// $table-header-color: map-get($palette, "primary");

//tab settings
// $tab-color: $med-gray;
// $active-tab-border-color: $success-color;
// $active-tab-color: map-get($palette, "dark-gray");
// $tab-padding: 0 1.25rem .75rem;
// $tab-panel-padding: 1rem;

//tag settings
// $tag-bg: $light-gray;
// $tag-color: $white;
// $tag-radius: $radius;

//tile settings
// $tile-color: map-get($palette, "off-white");
// $tile-radius: $radius;

//menus
$menu-active-color: map-get($palette, "secondary");
$menu-f-size: 18px;
$menu-f-weight: 500;
$dd-text-align: center;
$dd-items-padding: 0.5rem 0.75rem;
$dd-width: 120px;

//button settings
$base-buttons: (
  color: $dark-gray, 
  hover-color: $dark-gray, 
  bg-color: map-get($palette, "secondary") , 
  bg-change: "shade", 
  intesity: 15%,
);

$base-hollow-buttons: (
  color: $light-gray, 
  hover-color: #fff,
);

$button-small: (
  font-size: 18px,
  line-height: 1,
  padding: .5rem 1rem,
);

// button settings for solid and hollow buttons
$buttons-variants: (
  cta: (
    color: $dark-gray,
    hover-color: $dark-gray,
    bg-color: #f7f7f7,
  ),
);

/// The number of columns in a flex-col and gutter size (converted to pixel value). 
$columns: (
  xs: (
    columns: 2,
    gutter: 16,
  ),
  sm: (
    columns: 6,
    gutter: 12,
  ),
  md: (
    columns: 12,
    gutter: 8,
  ),
  lg: (
    columns: 12,
    gutter: 8,
  ),
  xl: (
    columns: 12,
    gutter: 8,
  )
) !default;

$breakpoints: (
  xs: 350px,
  sm: 480px,
  md: 764px,
  lg: 1024px,
  xl: 1400px
) !default;


$one-quarter: calc(100 / 4) * 1%;
$three-quarters: calc(3 / 4) * 100%;

$one-third: calc(100 / 3) * 1%;
$two-thirds: calc((2 / 3) * 100%);

.bg-cover-center {
  @include bg-cover-center;
}
.bg-contain-center {
  @include bg-contain-center;
}